<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAIY99cG94XECSoNQJUomejQAAAAACAAAAAAADZgAAwAAAABAAAADSG8RHA6TvE7tVjj5lcdAuAAAAAASAAACgAAAAEAAAAOAPxWxDxNgX44RJf53cObUoAAAAQtsCf/7CQDTzvBTTjjnC9pZ/Yru4aGRqQzWJ/yA97mnco37d0nN/bBQAAACdXid9lTGkLGxlzt7bBu1lGbTWcQ==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAIY99cG94XECSoNQJUomejQAAAAACAAAAAAADZgAAwAAAABAAAAClfUu7XgxQD9XZbeR4hC6gAAAAAASAAACgAAAAEAAAALc6AybgwUIlHi1jYRCEN9QoAAAAzZoA31bh6oIaYTugRXjqArCGLKhYCytPvGYcPhGKgJPAiKKfsbfrnxQAAADGHRfAlrlqvGr9lbTZlM7CWPlDRw==" />
  </apikeys>
</configuration>