<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clippy" version="0.1.10.0" targetFramework="net45" />
  <package id="Clippy.Imaging" version="0.5.0.1" targetFramework="net45" />
  <package id="Nancy" version="0.13.0" targetFramework="net45" />
  <package id="Nancy.BootStrappers.StructureMap" version="0.13.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
</packages>